- var path ="assets/images/calorie/";

html
  head
    meta(charset="utf-8")
    title プラン
  body
    section#top
      .container
        .row
          .col-xs-12
            h1
              img(src=path + "logo1.png", alt="カロリー検査のご案内（栄養成分表示に必要な項目を分析する検査です。食品成分7項目を計測します。熱量・たんぱく質・脂質・炭水化物・水分・ナトリウム・食塩相当量）")
              img(src=path + "top.png", alt="top")
    section#about
      .container
        .row
          .col-xs-12
            article
              h2 ご存知ですか？
              p 食品の表示について定めた新しい法律「食品表示法」が平成27年4月1日に施行され、原則として、消費者向けにあらかじめ放送されてすべての加工食品と添加物（業務用加工食品は除く）に、栄養成分表示が義務化されました。
            h3
              img(src=path + "copy.png", alt="食品成分の測定にコスト（人・設備・お金）がかけられない・検査方法が分からないお客様、福島県食品生産協同組合に検査をお任せください。")
    section#point
      .container
        .row
          .col-xs-12
            article
              h2 
               img(src=path + "kensa2.png", alt="栄養成分表示に必要な検査項目")
              p エネルギー、たんぱく質、脂質、炭水化物、食塩相当量の成分表示が必要となります。ナトリウム（単位mg）の表記は任意です。当組合のカロリー検査7項目で対応できます。
              h2
                img(src=path + "kensa3.png", alt="検査結果は、商品パッケージの栄養成分表示に使用できます。")
              p カロリー検査7項目の検査結果はご自由にご使用ください。パッケージに表示の際は【この数値は目安です】と記載してください。
    section#price
      .container
        .row
          .col-xs-12
            article
              h2
                img(src=path + "heading1.png", alt="福島県食品生産協同組合を選ぶ理由")
              p
                img(src=path + "price_other_sm.png", alt="組合員外：1検体7000円（税込み）")
                img(src=path + "price_member_sm.png", alt="組合加盟企業：1検体3000円（税込み）")
                img(src=path + "price.png", alt="組合員外：1検体7000円（税込み）　組合加盟企業：1検体3000円（税込み）　他機関よりお手頃な価格設定")
              p 導入時調査時点で同水準の検査費用は最安値（※）となっております。ぜひ当組合への加盟もご検討ください。※2019年11月1日現在　福島県食品生産協同組合調べ
              p
                img(src=path + "price-point2.png", alt="年間20体以上検査される場合は組合加盟の方がお安くなります。")
    section#application
      .container
        .row
          .col-xs-12
            article
              h2 お申込み方法
              ol
                li.col-xs-12.col-sm-12.col-md-6.col-lg-6
                  h3 お申込み
                  p
                    img(src=path + "flow1-1.png", alt="FAXでお申込みください。")
                  p 当ページからダウンロードしてプリントした用紙もしくはパンフレット裏面申込書に、必要項目をご記入の上、FAXしてください。
                  p
                    img(src=path + "flow1-2.png", alt="FAX番号024-577-2238")
                  p 組合事務局より確認の連絡が入ります。
                  p.calorie_btn ここからダウンロード
                li.col-xs-12.col-sm-12.col-md-6.col-lg-6
                  h3 発送
                  p
                    img(src=path + "flow2-1.png", alt="お客様ご自身で手配をしてください。")
                  p 組合事務局より検査予定日をFAXでお知らせします。その前日までに検体（検査品）が到着するように下記まで送ってください。
                  p 【発送先】〒960-0181 福島市宮代乳児池1-1 福島学院大学 食物栄養科 食栄館 カロリー検査 係 TEL:024-553-3221
                  p ※品名に「検体」と記載してください。
                li.col-xs-12.col-sm-12.col-md-6.col-lg-6
                  h3 検査実施
                  p
                    img(src=path + "flow3-1.png", alt="検体（検査品）検査を実施します。")
                  ul
                    li 熱量（カロリー）
                    li たんぱく質
                    li 脂質
                    li 炭水化物
                    li 食塩相当量
                    li ナトリウム
                    li 水分
                  p.text-right 計7項目
                  p ※上記以外の成分測定はお受けできません。
                li.col-xs-12.col-sm-12.col-md-6.col-lg-6
                  h3 検査結果FAX
                  p
                    img(src=path + "flow4-1.png", alt="結果が出次第、送信いたします。")
                  p 食品成分検査の報告書がFAXで送信されます。同時に請求書をFAXでお送りいたしますのでお振り込みください。
    section#inspection
      .container
        .row
          .col-xs-12
            article
              h2
                img(src=path + "heading2.png", alt="安心・安全の検査機器")
              p 食品のカロリー測定、さらには食品に含まれる成分の測定まで、7項目を検査します。
                img(src=path + "inspection_machine.png", alt="検査方法")
              p 検査については、当組合と連携している学校法人福島学院　福島学院大学にて実施致します。
                img(src=path + "inspection_image.png", alt="イメージ")
              p 食品表示法では栄養表示の検査法に特に指定はありません。消費者庁のガイドラインでも、理化学法と同等（誤差±20%以内）であれば良いとされていることから、近年では近赤外分工法は食品表示に好適な方法とされております。
    section#company
      .container
        .row
          .col-xs-12
            article
              h2 福島県食品生産協同組合について
              p 平成29年9月設立　中小企業等協同組合法における福島県知事認可団体です。
              .col-xs-12.col-sm-12.col-md-7.col-lg-7
                h3
                  img(src=path + "icon-keii.png", alt="設立の経緯")
                p 東日本大震災により被害を行けた福島県内の食品製造業、農業事業者の復興支援を目的に結成され、共同での製品開発や販路開拓事業を実施しています。食品表示法改正に伴い中小食品事業者の経費負担を削減するため栄養成分の共同検査事業を福島学院大学と連携し実施しています。
              .col-xs-12.col-sm-12.col-md-5.col-lg-5
                h3
                  img(src=path + "icon-jigyou.png", alt="事業")
                ul
                  li 組合員のために行う共同検査
                  li 組合員のために行う共同販売
                  li 組合員のために行う共同仕入れ
                  li 教育情報事業事業
                  li 福利厚生事業